body {
    margin: 0;
    padding: 0;
    background-image: url("https://imgs.gvm.com.tw/upload/gallery/20221004/118269.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 100;
}

.hamburger .line {
    width: 30px;
    height: 4px;
    background-color: #303030;
    margin: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger:not(.open) .line:nth-child(2) {
    opacity: 1;
}

.hamburger:not(.open) .line:nth-child(1),
.hamburger:not(.open) .line:nth-child(3) {
    transform: translateY(0);
}

.hamburger.open .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translateX(-100%);
    z-index: 99;
}

#menu.open {
    transform: translateX(0%);
    opacity: 1;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 10px;
}

#hamburger.open {
    display: none;
}

#menu ul li a {
    color : blue;
}